Repository paul-griffith/kindling, pull requests merged in 2022-02, with the labels that each got.

#32 Much improved table filtering and UX
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/io/github/paulgriffith/MainPanel.kt
  src/main/kotlin/io/github/paulgriffith/cacheviewer/CacheModel.kt
  src/main/kotlin/io/github/paulgriffith/cacheviewer/CacheView.kt
  src/main/kotlin/io/github/paulgriffith/idb/generic/GenericView.kt
  src/main/kotlin/io/github/paulgriffith/idb/generic/ResultsPanel.kt
  src/main/kotlin/io/github/paulgriffith/idb/generic/ResultsTable.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/Header.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LogExportModel.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LogExportTable.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LogView.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LoggerNames.kt
  src/main/kotlin/io/github/paulgriffith/main/ThemeButton.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/StateList.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/StateModel.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/StateTable.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/SystemList.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/SystemModel.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/SystemTable.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/ThreadModel.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/ThreadSorter.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/ThreadView.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/ThreadsTable.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/model/Monitors.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/model/Thread.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/model/ThreadDump.kt
  src/main/kotlin/io/github/paulgriffith/threadviewer/model/ThreadInfo.kt
  src/main/kotlin/io/github/paulgriffith/utils/Column.kt
  src/main/kotlin/io/github/paulgriffith/utils/ColumnList.kt
  src/main/kotlin/io/github/paulgriffith/utils/DetailsIcon.kt
  src/main/kotlin/io/github/paulgriffith/utils/DetailsPane.kt
  src/main/kotlin/io/github/paulgriffith/utils/swing.kt
  src/main/kotlin/io/github/paulgriffith/utils/utils.kt
  src/main/resources/icons/null.svg
Labels: enhancement, thread-viewer

#36 Wrapper log parsing
  .github/workflows/pr-build.yml
  src/main/java/nb/deser/SerializationDumper.java
  src/main/java/nb/deser/support/ClassDataDesc.java
  src/main/java/nb/deser/support/ClassDetails.java
  src/main/java/nb/deser/support/ClassField.java
  src/main/kotlin/io/github/paulgriffith/MainPanel.kt
  src/main/kotlin/io/github/paulgriffith/backup/BackupView.kt
  src/main/kotlin/io/github/paulgriffith/backup/ProjectsPanel.kt
  src/main/kotlin/io/github/paulgriffith/backup/TextDocument.kt
  src/main/kotlin/io/github/paulgriffith/cache/CacheEntry.kt
  src/main/kotlin/io/github/paulgriffith/cache/CacheModel.kt
  src/main/kotlin/io/github/paulgriffith/cache/CacheView.kt
  src/main/kotlin/io/github/paulgriffith/core/CustomIconView.kt
  src/main/kotlin/io/github/paulgriffith/core/TabPanel.kt
  src/main/kotlin/io/github/paulgriffith/core/ThemeButton.kt
  src/main/kotlin/io/github/paulgriffith/idb/IdbPanel.kt
  src/main/kotlin/io/github/paulgriffith/idb/IdbTool.kt
  src/main/kotlin/io/github/paulgriffith/idb/IdbView.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/Event.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LogExportModel.kt
  src/main/kotlin/io/github/paulgriffith/idb/logviewer/LogView.kt
  src/main/kotlin/io/github/paulgriffith/log/Header.kt
  src/main/kotlin/io/github/paulgriffith/log/LogPanel.kt
  src/main/kotlin/io/github/paulgriffith/log/LoggerNames.kt
  src/main/kotlin/io/github/paulgriffith/log/SystemLogsEvent.kt
  src/main/kotlin/io/github/paulgriffith/log/models.kt
  src/main/kotlin/io/github/paulgriffith/thread/StateList.kt
  src/main/kotlin/io/github/paulgriffith/thread/SystemList.kt
  src/main/kotlin/io/github/paulgriffith/thread/ThreadModel.kt
  src/main/kotlin/io/github/paulgriffith/thread/ThreadView.kt
  src/main/kotlin/io/github/paulgriffith/thread/model/NoneAsNullStringSerializer.kt
  src/main/kotlin/io/github/paulgriffith/thread/model/Thread.kt
  src/main/kotlin/io/github/paulgriffith/thread/model/ThreadDump.kt
  src/main/kotlin/io/github/paulgriffith/utils/Action.kt
  src/main/kotlin/io/github/paulgriffith/utils/Tool.kt
  src/main/kotlin/io/github/paulgriffith/utils/ToolPanel.kt
  src/main/kotlin/io/github/paulgriffith/utils/swing.kt
  src/main/kotlin/io/github/paulgriffith/utils/utils.kt
  src/main/resources/icons/bx-file.svg
  src/test/kotlin/io/github/paulgriffith/log/WrapperLogParsingTests.kt
  src/test/kotlin/io/github/paulgriffith/thread/ThreadViewTests.kt
  src/test/resources/io/github/paulgriffith/thread/threadDump.json
Labels: enhancement, log-viewer

#37 add dark/light theme per OS setting
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/io/github/paulgriffith/MainPanel.kt
  src/main/kotlin/io/github/paulgriffith/core/ThemeButton.kt
  src/main/kotlin/io/github/paulgriffith/log/LoggerNames.kt
Labels: enhancement, core

#39 Make edition safely nullable
  src/main/kotlin/io/github/paulgriffith/backup/BackupView.kt
Labels: bug, gwbk-viewer
